@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="home-container">
        <div class="text"><span id="opponentName">Scroll Cat</span> is a fancy multiplayer game allowing users all over the world to compete in scrolling speed in a fun an intuitive way. You can invite you friends and colleagues and play your private duels. You will be playing for a one of the two most glorious cats and your goal is to reach the 'The Treasure Box' which is considered to be the most magnificent place for your pet. You'll be distracted from your goal by nasty (yet very interesting) butterflies, so be aware and scroll cautiously. Sit back and enjoy the sights and music, but we must warn you that you opponent might have no mercy and will scroll as furious as possible. Enjoy the game!</div>
        <div class="download">
            <form action="http://microsoft.com">
                <input type="submit" value="" id="download" />
            </form>
        </div>
</div>