@model HotScroll.Server.ViewModels.JoinDuelViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-container" id="loginForm">
    <div id="credentials" class="visible">
        <div id="message"><span id="opponentName">@Model.OpponentName</span> invites you to play Scroll Cat</div>

        <div class="join">
            <form action="@Model.LaunchScrollCatUrl">
                <input type="submit" value=""  id="join" />
            </form>
        </div>
        <div class="or"></div>
        <div class="download">
            <form action="@Model.BuyFromStorURL">
                <input type="submit" value="" id="download" />
            </form>
        </div>
    </div>
</div>