@{
    ViewBag.Title = "Privacy Policy";
}

<h2>Privacy</h2>

<div>
    <div>
        <h2>Anonymous Information</h2>
        <p>
            Scroll Cat automatically gathers anonymous information to monitor the use of the service including information such as the number of users visiting our website, installing and using our software.
            None of this information contains any personal or private data relating to users, and is only used to provide an overview of the interactions of all users. Interactions are never analysed individually, but as an aggregate of all data, used to guide the enhancement of our services and products.
        </p>
        <h2>We Won't Sell Your Data</h2>
        <p>Scroll Cat will not disclose or license your personal information in exchange for payment.</p>
        <h2>Changes to this policy</h2>
        <p>This privacy policy is subject to change without notice and was last updated on May, 10 2013. 
            If you have any questions feel free to contact me directly at <a href="mailto:scrollcat@outlook.com">scrollcat@outlook.com</a>.</p>
    </div>
</div>
