<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="8f33a6fc-38b9-41a7-92e7-03cd9ad6dd56" Version="1.0.0.0" Publisher="CN=ANDREY" />
  <Properties>
    <DisplayName>HotScroll.Client</DisplayName>
    <PublisherDisplayName>ANDREY</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="HotScroll" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="HotScroll Game" ForegroundText="light" BackgroundColor="#222222">
        <DefaultTile ShowName="allLogos" WideLogo="images\logo.png" />
        <SplashScreen Image="images\splashscreen.png" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
          <Rotation Preference="landscapeFlipped" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer" />
    <Capability Name="internetClientServer" />
    <Capability Name="internetClient" />
  </Capabilities>
</Package>