#contenthost {
    height: 100%;
    width: 100%;
}

#game-container {
    display: none;
}
#you-won {
    display: none;
    color: green;
    margin: 200px auto;
    text-align: center;
    width: 300px;
}
#you-lost {
    display: none;
    color: red;
    margin: 200px auto;
    text-align: center;
    width: 300px;
}

body.menu {background: url("/images/menu_pattern.png") repeat #FFF;}
.login-container {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -400px;
    padding: 0;
    width: 800px;
    height: 580px;
    transition: height 0.5s ease-in-out, margin 0.5s ease-in-out;
    border: none;
}

#startLogo {
    display: inline-block;
    margin: 0 auto;
}

.progress-placeholder.hidden {
    opacity: 1;
}

.progress-placeholder {
    width: 100%;
    transition: opacity 0.2s ease;
    opacity: 1;
}

.progress-placeholder > .win-ring {
    margin: 20px auto;
    color: orange;
    display: block;
}

#credentials {
    margin: 0 auto;
    width: 100%;
    position: relative;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: translateY(50%);
    transform-origin: 50% 50%;
    display: none;
}

#credentials.visible {
    opacity: 1;
    transform: translateY(0);
}

#validation-message {
    display: none;
    position: absolute;
    top: -60px;
    left: -180px;
}

#login {
    border-radius: 20px;
    border: 4px solid #54bdc4;
    color: #f7931e;
    padding: 10px 30px;
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 700px;
    box-sizing: border-box;
}
#login:-ms-input-placeholder {
    color: #d1e9eb;
}


.play {
    background: url("/images/text_random.png") bottom left no-repeat transparent;
    display: inline-block;
    width: 330px;
    height: 170px;
    vertical-align: top;
}
#play {
    background: url("/images/btn_play.png") 0 0 no-repeat transparent;
    border: 0;
    height: 116px;
    width: 276px;
    cursor: pointer;
}
#play:hover {
    background: url("/images/btn_play_selected.png") 0 0 no-repeat transparent;
}

.invite {
    background: url("/images/text_friend.png") bottom left no-repeat transparent;
    display: inline-block;
    width: 330px;
    height: 170px;
    vertical-align: top;
}
#invite {
    background: url("/images/btn_invite.png") 0 0 no-repeat transparent;
    border: 0;
    height: 122px;
    width: 312px;
    cursor: pointer;
}
#invite:hover {
    background: url("/images/btn_invite_selected.png") 0 0 no-repeat transparent;
}

.or {
    background: url("/images/text_or.png") 0 0 no-repeat transparent;
    display: inline-block;
    height: 35px;
    margin-top: 35px;
    width: 70px;
    vertical-align: top;
}
.help-container{}
#help {
    background: #006d8f;
    background: rgba(0, 109, 143, 0.6);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}

#help .help-content {
    margin: 200px auto 0;
    width: 90%;
    position: relative;
}
#help .help-content img {
    max-width: 30%;
    margin: 0 3% 0 0;
}
#help-close {
    background: url("/images/btn_close.png") no-repeat 0 0 transparent;
    position: absolute;
    top: -50px;
    right: -50px;
    cursor: pointer;
    width: 58px;
    height: 58px;
}
#help-close:hover {
    background: url("/images/btn_close_selected.png") no-repeat 0 0 transparent;
}

        
.wait-container {
    width: 100%;
    height: 100%;
    background: url("/images/menu_pattern.png") repeat #FFF;
    display: none;
}

#wait {
    margin: -225px 0 0 -400px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    width: 800px;
    height: 450px;
    text-align: center;
    transition: height 0.5s ease-in-out, margin 0.5s ease-in-out;
}
#wait .win-ring {
    margin: 50px auto;
    color: #fff;
    display: block;
}

#wait h1 {
    font-weight: bold;
    font-size: 62px;
    color: #429499;
}