#contenthost {
    height: 100%;
    width: 100%;
}

#game-container {
    display: none;
}
#you-won {
    display: none;
    color: green;
    margin: 200px auto;
    text-align: center;
    width: 300px;
}
#you-lost {
    display: none;
    color: red;
    margin: 200px auto;
    text-align: center;
    width: 300px;
}