/* resetting all default styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	-webkit-text-size-adjust: 100%
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ul {
	list-style: none;
}
ol {
    list-style-type: decimal;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
    vertical-align: middle;
}

/* Custom styles*/
body {
	font-family: 'Ubuntu', sans-serif;
	background: url("/images/menu_pattern.png") repeat #FFF;
    text-align: center;
}
input[type="text"] {
    border: 1px gray solid;
    border-radius: 3px;
}
.login-container {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -400px;
    padding: 0;
    width: 800px;
    height: 580px;
    transition: height 0.5s ease-in-out, margin 0.5s ease-in-out;
    border: none;
}
.home-container {
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 50%;
    margin-left: -500px;
    padding: 0;
    width: 1000px;
    border: none;
}

#startLogo {
    display: inline-block;
    margin: 0 auto;
}

.progress-placeholder.hidden {
    opacity: 1;
}

.progress-placeholder {
    width: 100%;
    transition: opacity 0.2s ease;
    opacity: 1;
}

.progress-placeholder > .win-ring {
    margin: 20px auto;
    color: #fff;
    display: block;
}

#credentials {
    margin: 0 auto;
    width: 100%;
    position: relative;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(50%);
    transform-origin: 50% 50%;
}

#credentials.visible {
    opacity: 1;
    transform: translateY(0);
}

#validation-message {
    display: none;
    position: absolute;
    top: -60px;
    left: -180px;
}

#message {
    border-radius: 20px;
    color: #429398;
    padding: 10px 30px;
    font-size: 36px;
    font-weight: bold;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 700px;
    box-sizing: border-box;
}

.text {
    color: #429398;
    padding: 10px 30px;
    font-size: 22px;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 800px;
}

.join {
    background: url("/images/text_competition.png") bottom center no-repeat transparent;
    display: inline-block;
    width: 330px;
    height: 170px;
    vertical-align: top;
}
#join {
    background: url("/images/btn_join.png") 0 0 no-repeat transparent;
    border: 0;
    height: 116px;
    width: 276px;
    cursor: pointer;
}
#join:hover {
    background: url("/images/btn_join_selected.png") 0 0 no-repeat transparent;
}

.download {
    background: url("/images/text_store.png") bottom center no-repeat transparent;
    display: inline-block;
    width: 330px;
    height: 170px;
    vertical-align: top;
}
#download {
    background: url("/images/btn_download.png") 0 0 no-repeat transparent;
    border: 0;
    height: 122px;
    width: 312px;
    cursor: pointer;
}
#download:hover {
    background: url("/images/btn_download_selected.png") 0 0 no-repeat transparent;
}

.or {
    background: url("/images/text_or.png") 0 0 no-repeat transparent;
    display: inline-block;
    height: 35px;
    margin-top: 35px;
    width: 70px;
    vertical-align: top;
}
        
#help {
    background: rgba(0, 109, 143, 0.6);
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    text-align: center;
}
#help .help-content {
    margin: 200px auto 0;
    width: 90%;
    position: relative;
}
#help .help-content img {
    max-width: 30%;
    margin: 0 3% 0 0;
}
        
.wait-container {
    width: 100%;
    height: 100%;
    background: url("/images/menu_pattern.png") repeat #FFF;
    display: none;
}

#wait {
    margin: -225px 0 0 -400px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    width: 800px;
    height: 450px;
    text-align: center;
    transition: height 0.5s ease-in-out, margin 0.5s ease-in-out;
}
#wait .win-ring {
    margin: 50px auto;
    color: #fff;
    display: block;
}

#wait h1 {
    font-weight: bold;
    font-size: 62px;
    color: #429499;
}

#opponentName {
    color: rgb(84, 188, 195)
}