.login-container {
    margin: -150px 0 0 -310px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    width: 620px;
    height: 300px;
    transition: height 1s ease-in-out, margin 1s ease-in-out;
    border: none;
}

    .login-container.expanded {
        height: 600px;
        margin: -300px 0 0 -310px;
    }

    .login-container #credentials {
        height: 300px;
        width: 50%;
        margin: 0 auto;
        transition: opacity 1s ease-in-out 1s, transform 1s ease-in-out 1s;
        opacity: 0;
        transform: scale(0.5);
        transform-origin: 50% 50%;
    }

    .login-container #credentials.visible {
        opacity: 1;
        transform: scale(1);
    }

#login {
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}
#start {
    display: block;
    margin: 10px auto;
    padding: 5px;
    width: 50%;
}

#startLogo {
    width: 620px;
    height: 300px;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
